<!DOCTYPE html>
<html lang="fr" layout:decorate="~{decorators/master}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Vols</title>

</head>
<body>

<header  th:replace="~{fragments/header}">
</header>

<section>
    <!-- Contenu de la recherche de vols -->
    <h2>Bienvenue sur notre site de recherche de vols</h2>
    <p>Commencez votre aventure en trouvant les meilleurs vols disponibles.</p>
    <!-- Ajoutez ici le formulaire de recherche de vols ou d'autres éléments pertinents -->

    <div th:replace="~{fragments/tableResults}"></div>

</section>

<footer>
    <p>&copy; 2023 Recherche de Vols. Tous droits réservés.</p>
</footer>


<script>


</script>
</body>
</html>
