<div th:fragment="filters">
    <form th:action="@{/filters}" method="get" th:object="${filters}" class="filters-flight-form">
        <div class="row w-100">
            <div class="col form-group">
                <label for="origin">Aéroport de départ</label>
                <select id="origin" class="form-control" th:field="*{origin}">
                    <option th:value="null">-- Sélectionnez l'aéroport de départ --</option>
                    <option th:each="airport : ${airports}" th:value="${airport.iata}" th:text="'(' + ${airport.iata} + ') ' + ${airport.name} + ' - ' + ${airport.country}">
                    </option>
                </select>
            </div>
            <div class="col form-group">
                <label for="destination">Aéroport d'arrivée</label>
                <select id="destination" class="form-control" th:field="*{destination}">
                    <option th:value="null">-- Sélectionnez l'aéroport d'arrivée --</option>
                    <option th:each="airport : ${airports}" th:value="${airport.iata}" th:text="'(' + ${airport.iata} + ') ' + ${airport.name} + ' - ' + ${airport.country}">
                    </option>
                </select>
            </div>
            <div class="col form-group">
                <label for="price">Prix</label>
                <input id="price" class="form-control" type="number" min="0" step="any" th:field="*{price}" />
            </div>
        </div>
        <div class="row w-100">
            <div class="col form-group">
                <label for="originSort">Tri par aéroport de départ</label>
                <select id="originSort" class="form-control" th:field="*{originSort}" >
                    <option th:value="null">-- Sélectionnez le tri de l'aéroport de départ --</option>
                    <option value="ASC">Croissant</option>
                    <option value="DESC">Décroissant</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="destinationSort">Tri par aéroport d'arrivée</label>
                <select id="destinationSort" class="form-control" th:field="*{destinationSort}" >
                    <option th:value="null">-- Sélectionnez le tri de l'aéroport d'arrivée --</option>
                    <option value="ASC">Croissant</option>
                    <option value="DESC">Décroissant</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="priceSort">Tri par prix</label>
                <select id="priceSort" class="form-control" th:field="*{priceSort}" >
                    <option th:value="null">-- Sélectionnez le tri du prix --</option>
                    <option value="ASC">Croissant</option>
                    <option value="DESC">Décroissant</option>
                </select>
            </div>
        </div>
        <div class="row w-100">
            <div class="col form-group d-flex justify-content-between">
                <button class="btn btn-success" type="submit">Rechercher</button>
                <div class="pagination-control">
                    <button class="btn btn-outline-secondary" type="submit" onclick="handleChangePage(-1)" th:disabled="${filters.getPage() <= 0}"><</button>
                    <button class="btn btn-outline-secondary" type="submit" onclick="handleChangePage(1)" th:disabled="${flights.size() < 6}">></button>
                </div>
            </div>
        </div>
        <input type="hidden" id="filters.page" th:field="*{page}" value="0" />
    </form>
</div>
