<!DOCTYPE html>
<html lang="fr" layout:decorate="~{decorators/master}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>

  <title>Recherche de Vols</title>

</head>
<body>
<header>
  <nav class="navbar">
    <a th:href="@{/}">Accueil</a>
    <a th:href="@{/search}">Recherche</a>
    <a th:href="@{/flight}">Admin</a>
  </nav>

  <h1>Recherche de Vols</h1>
</header>

<section>
  <!-- Contenu de la recherche de vols -->
  <h2>Bienvenue sur notre site de recherche de vols</h2>

</section>

<footer>
  <p>&copy; 2023 Recherche de Vols. Tous droits réservés.</p>
</footer>



</body>
</html>
